# This file is NOT loaded upon launch of the node up. It is just a template of all 
# environment variables loaded in a production environment. In order to specify
# environment variables you must create a new `.env` file in the same folder, with
# the same contents of this present template file.
# Only the `.env` file is loaded on launch and is NOT version controlled.
#
# Environment variables are accessible at runtime as such: `process.env.NODE_ENV`
#
# This file _IS_ version controlled, any changes made will have to be commited.


NODE_ENV = production

HTTP_PORT = 8080
MONGO_URL = mongodb://maninak:1234@ds139262.mlab.com
MONGO_PORT = 39262
MONGO_DB = heroku_lzdgmw51